{% extends "nav_tempaltes.html" %}
{% load static %}


{% block main_content %}


    <div class="d-flex bd-highlight flex-wrap">
        <div class="p-2 w-20 bd-highlight">
            <img src="../../static/photos/logo.png" class="img-thumbnail" alt="logo">
        </div>
        {% if user.is_authenticated %}

            Hi {{ user.username }}!
            <p><a href="{% url 'logout' %}">Log Out</a></p>

        {% else %}
            <div class="p-2 w-40 bd-highlight">
                {% block login %}

                {% endblock %}
            </div>
        {% endif %}
    </div>

{% endblock %}