{% extends "nav_tempaltes.html" %}
{% load static %}


{% block main_content %}


    <div class="d-flex bd-highlight">
        <div class="p-2 w-20 bd-highlight">
            <img src="../../static/photos/Doc_Star.png" class="img-thumbnail" alt="logo"
                 style="background-color: transparent; max-width: 300px; max-height: 300px; border: none;">
        </div>
        <div class="p-2 w-40 bd-highlight">
            {% if user.is_authenticated %}
                <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                {% if user.first_name %}Hello, {{ user.first_name }}!
                {% else %}Hello, {{ user.username }}!{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item text-right" href="{% url 'app_accounts:logout' %}">Logout</a>
                <a class="dropdown-item text-right" href="{% url 'app_accounts:password_change' %}">Change password</a>
                </div>
            {% else %}
                {% block login %}

                {% endblock %}
            {% endif %}

        </div>
        <div class="p-2 w-40 bd-highlight">

        </div>
    </div>

{% endblock %}