{% extends "nav_tempaltes.html" %}
{% load static %}


{% block main_content %}


    <div class="d-flex bd-highlight">
        <div class="p-2 w-20 bd-highlight">
            <img src="../../static/photos/Doc_Star.png" class="img-thumbnail" alt="logo"
                 style="background-color: transparent; max-width: 300px; max-height: 300px; border: none;">
        </div>
        <div class="p-2 w-40 bd-highlight">
            {% if user.is_authenticated %}

            {% else %}
                {% block login %}

                {% endblock %}
            {% endif %}

        </div>
        <div class="p-2 w-40 bd-highlight">

        </div>
    </div>

{% endblock %}