{% extends "index.html" %}
{% load static %}


{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">DocStar</h3>
                <nav class="nav nav-masthead justify-content-center">
                    {% block nav_bar %}
                        <a class="nav-link active" href="{% url 'app_viewer:home' %}">Home</a>
                        <a class="nav-link" href="{% url 'app_viewer:about' %}">About us</a>
                        <a class="nav-link" href="{% url 'app_viewer:contact' %}">Contact</a>
                        <a class="nav-link" href="{% url 'app_viewer:contact' %}">Sign up</a>
                    {% endblock %}
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            {% block main_content %}


            {% endblock %}
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
            </div>
        </footer>
    </div>


{% endblock %}