{% extends "index.html" %}
{% load static %}


{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">DocStar</h3>
                <nav class="nav nav-masthead justify-content-center">
                    {% block nav_bar %}
                        <a class="nav-link active" href="{% url 'app_viewer:home' %}">Home</a>
                        <a class="nav-link" href="{% url 'app_viewer:about' %}">About us</a>
                        <a class="nav-link" href="{% url 'app_viewer:contact' %}">Contact</a>
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'app_accounts:logout' %}">Log Out</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'app_accounts:sign-up' %}">Sign up</a>
                        {% endif %}
                    {% endblock %}
                {% if user.is_authenticated %}
                        <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                            {% if user.first_name %}Witaj, {{ user.first_name }}!
                            {% else %}Witaj, {{ user.username }}!{% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item text-right" href="{% url 'app_accounts:logout' %}">Wyloguj</a>
                            <a class="dropdown-item text-right" href="#">Zmien
                                haslo</a>
                        </div>
                    {% else %}
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
                            Nie jestes zalogowany.
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item text-right" href="#">Zaloguj</a>
                            <a class="dropdown-item text-right" href="{% url 'app_accounts:sign-up' %}">Zarejestruj sie</a>
                        </div>
                    {% endif %}
                </nav>
            </div>

        </header>

        <main role="main" class="inner cover">
            {% block main_content %}


            {% endblock %}
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                © Copyrights. 2021 Fasola Team. All rights reserved. All trademarks are the property of their respective
                owners.
            </div>
        </footer>
    </div>


{% endblock %}